#jinja2: trim_blocks:False
[Unit]
Description=etcd
Documentation=https://github.com/etcd-io/etcd/

[Service]
{% if etcd_allow_unsupported_archs %}
Environment=ETCD_UNSUPPORTED_ARCH={{etcd_architecture}}
{% endif %}
ExecStart={{etcd_bin_dir}}/etcd --config-file {{etcd_conf_file}}
Restart=on-failure
RestartSec=5
Type=notify

[Install]
WantedBy=multi-user.target
