#jinja2: trim_blocks:False
{%- if not etcd_settings['discovery-srv'] %}
{%- macro cluster_hosts() -%}
{%- for host in groups[etcd_ansible_group] -%}
{{hostvars[host]['ansible_hostname']}}=https://{{hostvars[host]['ansible_' + etcd_interface].ipv4.address}}:{{etcd_peer_port}}{% if not loop.last %},{% endif %}
{%- endfor -%}
{%- endmacro -%}
{%- set x=etcd_settings.__setitem__('initial-cluster',cluster_hosts()) -%}
{%- set x=etcd_settings.__delitem__('discovery-srv') -%}
{%- endif %}
# This is the configuration file for the etcd server.

# Human-readable name for this member.
name: {{etcd_settings["name"]}}

# Path to the data directory.
data-dir: {{etcd_settings["data-dir"]}}

# Path to the dedicated wal directory.
wal-dir: {{etcd_settings["wal-dir"]}}

# Number of committed transactions to trigger a snapshot to disk.
snapshot-count: {{etcd_settings["snapshot-count"]}}

# Time (in milliseconds) of a heartbeat interval.
heartbeat-interval: {{etcd_settings["heartbeat-interval"]}}

# Time (in milliseconds) for an election to timeout.
election-timeout: {{etcd_settings["election-timeout"]}}

# Raise alarms when backend size exceeds the given quota. 0 means use the
# default quota.
quota-backend-bytes: {{etcd_settings["quota-backend-bytes"]}}

# List of comma separated URLs to listen on for peer traffic.
listen-peer-urls: {{etcd_settings["listen-peer-urls"]}}

# List of comma separated URLs to listen on for client traffic.
listen-client-urls: {{etcd_settings["listen-client-urls"]}}

# Maximum number of snapshot files to retain (0 is unlimited).
max-snapshots: {{etcd_settings["max-snapshots"]}}

# Maximum number of wal files to retain (0 is unlimited).
max-wals: {{etcd_settings["max-wals"]}}

# List of this member's peer URLs to advertise to the rest of the cluster.
# The URLs needed to be a comma-separated list.
initial-advertise-peer-urls: {{etcd_settings["initial-advertise-peer-urls"]}}

# List of this member's client URLs to advertise to the public.
# The URLs needed to be a comma-separated list.
advertise-client-urls: {{etcd_settings["advertise-client-urls"]}}

# Comma separated string of initial cluster configuration for bootstrapping.
# Example: initial-cluster: "infra0=http://10.0.1.10:2380,infra1=http://10.0.1.11:2380,infra2=http://10.0.1.12:2380"
initial-cluster: {{etcd_settings["initial-cluster"]}}

# Initial cluster token for the etcd cluster during bootstrap.
initial-cluster-token: '{{etcd_settings["initial-cluster-token"]}}'

# Initial cluster state ('new' or 'existing').
initial-cluster-state: '{{etcd_settings["initial-cluster-state"]}}'

client-transport-security:
  # Path to the client server TLS cert file.
  cert-file: {{etcd_settings["cert-file"]}}

  # Path to the client server TLS key file.
  key-file: {{etcd_settings["key-file"]}}

  # Enable client cert authentication.
  client-cert-auth: {{etcd_settings["client-cert-auth"]}}

  # Path to the client server TLS trusted CA cert file.
  trusted-ca-file: {{etcd_settings["trusted-ca-file"]}}

peer-transport-security:
  # Path to the peer server TLS cert file.
  cert-file: {{etcd_settings["peer-cert-file"]}}

  # Path to the peer server TLS key file.
  key-file: {{etcd_settings["peer-key-file"]}}

  # Enable peer client cert authentication.
  client-cert-auth: {{etcd_settings["peer-client-cert-auth"]}}

  # Path to the peer server TLS trusted CA cert file.
  trusted-ca-file: {{etcd_settings["peer-trusted-ca-file"]}}

# Enable debug-level logging for etcd.
log-level: {{etcd_settings["log-level"]}}

logger: {{etcd_settings["logger"]}}

# Specify 'stdout' or 'stderr' to skip journald logging even when running under systemd.
log-outputs: [{{etcd_settings["log-outputs"]}}]
